{% extends "layout.html" %}
{% block content %}
<div class="container animated-collage-wrapper">
    <div class="animated-collage" id="animatedCollage">
        <div class="image-container">
            <img src="{{ url_for('static', filename='images/image1.jpg') }}" alt="Image 1">
        </div>
        <div class="image-container">
            <img src="{{ url_for('static', filename='images/image2.jpg') }}" alt="Image 2">
        </div>
        <div class="image-container">
            <img src="{{ url_for('static', filename='images/image3.jpg') }}" alt="Image 3">
        </div>
        <div class="image-container">
            <img src="{{ url_for('static', filename='images/image4.jpg') }}" alt="Image 4">
        </div>
    </div>
</div>
{% endblock %}
